# s7
repl
repl-s7
temp-s7-output-*.c

# object files
*.o
*.so
*.a
*.lib

# watcom
*.obj
*.err
*.sym
*.map
*.MAP
*.mbr
*.lk*
# vc98
*.ncb
*.plg
*.opt
*.pdb
*.idb
*.ilk
*.pch
*.sbr
*~
*.exe
# visual studio
*.sln
*.suo
*.vcproj*
Release/
Debug/
tags

# visual code
.vscode/

# more
*.bak
*.log
*.gz
.*.swp
*.kdev*
*.layout
<*
*.plist
.*project
*.anjuta
*.komodo*
.*.prefs
nbproject/
.settings/org.eclipse.core.runtime.prefs
*.cbr
*.mk1
*.smp
/.plastic/
/objs*/
*.\$*
*.~*
*.m[br]t
*.DSW
*.BAK

# latex
*.aux
*.idx
*.toc
*.out
*.bbl
*.blg

.nw.nw
_noweb.nw
